<div class="card">
    <div class="card-body">
        <h1>About US</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptas vitae ex adipisci quos necessitatibus culpa, odit magnam similique eveniet harum enim vel! Eveniet, illum architecto rerum, voluptatem eum illo molestiae 
            magnam quisquam optio quibusdam aut repudiandae numquam eaque? Dolorem.</p>
    </div>
</div>
